<template>
    <div class="qlinks">
   
        <div if:true={mainVideo} class="container-lg p-y-lg">
            <div  if:true={mainVideo} class="section-header p-b">
                <h2 class="section-title alt" aria-label="Learn More">  Learn More</h2>
              </div>
              <!-- <div class="row p-t-sm p-b-md grid-gap stretch-cards">
      
                <div class="col-sm-8">
                  <div class="card action-card">
                    <div class="content">
                        <iframe width="auto" height="500px" allowfullscreen src={mainVideo.Video_URL__c}
                        sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation">
                        </iframe>
                  </div>
                </div>

</div>                <div class="col-sm-4 card">
  <br/>
                   <b class="">OTHER VIDEOS</b>
                    <div class=" align">
                        <div class="row p-t-sm p-b-md grid-gap stretch-cards" style="overflow-y: scroll; height: 530px;">
                    <template for:each={restVideos} for:item="item" for:index="index">
                        <div  key={item.Id} class="col-sm-12">
                      <div key={item.Id} class="content">
                        <div onclick={playthisvideo} data-index={item.Sequence_Number__c} class="youtube">
                          <img width="100%" height="auto" src={item.Thumbnail_URL__c}/>
                          </div>
                          <div class="description">{item.MasterLabel}</div>
                    </div>
                    </div>
                 
                  </template>
                  </div>
                </div>
                </div> -->

            <!-- <iframe width="420" height="345" src={mainVideo.Video_URL__c}>
            </iframe>

            <template for:each={restVideos} for:item="item">
                <iframe key={item.Id} width="420" height="345" src={item.Video_URL__c}>
                </iframe>
            </template> -->
         <!-- </div> -->
         <div class="home-video-grid slds-m-top_large">
           <div class="main-video-container">
              <iframe width="auto" height="500px" allowfullscreen src={mainVideo.Video_URL__c}
              sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation">
              </iframe>
              <!-- <iframe  width="auto" height="500px" allowfullscreen src='/customerportal/apex/VideoDemoVFP'
               sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation">

              </iframe> -->
           </div>
           <div class="all-video-container">
             <div class="videos-heading">
               Other Videos
             </div>
            <div class="video-thumbnail-container">
            <template for:each={restVideos} for:item="item" for:index="index">
              <div  key={item.Id}>
            <div key={item.Id} class="content">
              <div onclick={playthisvideo} data-index={item.Sequence_Number__c} class="youtube">
                <img width="100%" height="auto" src={item.Thumbnail_URL__c}/>
                <div class="play-icon-container">
                  <lightning-icon icon-name="utility:play" alternative-text="play" title="play" size="small"></lightning-icon>
                </div>
                </div>
                <div class="description">{item.MasterLabel}</div>
                </div>
            </div>
        </template>
        </div>
           </div>
         </div>
    </div>
    </div>
</template>