.youtube {
    position: relative;
    display: inline-block;
}
.youtube:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: transparent url('/assets/icons/utility-sprite/svg/symbols.svg#play') center center no-repeat;
}

.ytp-chrome-top-buttons{
    display: none !important;
}